[Desktop Entry]
Type=Application
Name=Boot Droidian
Exec=/bin/bash -c "sudo touch /userdata/.BOOT_DROIDIAN && sudo reboot -f recovery"
Icon=/home/phablet/.local/share/icons/droidian.png
